
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

ul li {
  float: left;
}

img {
  max-height: 50px;
  float: left;
  margin-top: 10px;
  padding: 0px;
  background: transparent;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li:not(:first-child) {
  float: right;
}

li a:hover {
  color: rgb(194, 178, 178);

}

.center-right {
  position: absolute;
  top: 20%;    
  right: 0;  
  transform: translate(0, -50%);
  width: 500px; 
  margin: 0 auto; 
}
.oblong-shape {
  position: absolute;
  right: 0;
  background-color: rgb(247, 239, 224);  
  border-radius: 150% 30% ;
  width: 400px; 
  height: 400px; 
  z-index: 1; 
  margin-right: 150px;
  
}

.profile-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; 
  margin-top: -30px;
}

.profile-image {
  position: absolute;
  top: 10;
  right: 0;
  z-index: 2; 
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 70% 0% ;
  object-fit: cover;
  margin-right: 160px;
  opacity: 0;
  animation: fadeIn1 3s ease-in forwards;
}
@keyframes fadeIn1 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #3f362e;
}

h1{
  color:antiquewhite;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 130px;
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 80pt;
}
.animated-heading {
  position: relative;
  left: -100%; /* Start with the heading off-screen to the left */
  animation: slideIn 2.0s ease-in-out forwards; /* Use the "slideIn" animation with a duration of 1.5 seconds */
}

@keyframes slideIn {
  0% {
    left: -100%; /* Start with the heading off-screen to the left */
  }
  100% {
    left: 0; /* End at the final position (no left offset) */
  }
}

h5{
  margin-top: 2px;
  margin-left: 135px;
  color: white;
  display: flex; 
  align-items: center; 
  text-align: left;
  
}
.gmail-icon {
  width: 20px; 
  height: auto; 
  margin-right: 10px; 
}

.email-address {
  margin-top: 10px;
  overflow: hidden; /* Hide the overflowing text */
    border-right: 2px solid transparent; /* Simulate the typing cursor */
    white-space: nowrap; /* Prevent line breaks */
    width: 0; /* Start with no width */
    animation: typing 30s steps(300, end) forwards;
}

@keyframes typing {
    to {
        width: 100%; /* Expand the width to show the full text */
    }

}

p{
  margin:0;
  padding: 0;
  margin-left: 135px;
  color: rgb(204, 204, 204);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.typing-animation {
  overflow: hidden; /* Hide the overflow to create the typing effect */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  border-right: 2px solid transparent; /* Create a blinking cursor effect */

  /* Animation settings */
  animation: 5s fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with the text invisible */
  }
  to {
    opacity: 1; /* End with the text fully visible */
  }
}



.facebook-link {
  float:right;
}

.facebook {
  position: absolute;
  top: 530px; 
  right: 0;
  margin-right: 400px;
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
  
  animation: slideInRight1 2s ease forwards;
}
.facebook:hover{
    transform: scale(1.5);
}
.instagram-link {
  float:right;
}

.instagram {
  position: absolute;
  top: 512px; 
  right: 0;
  margin-right: 340px;
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
  
  animation: slideInRight2 3s ease forwards;
}
.instagram:hover{
    transform: scale(1.5);
}

.X-link {
  float:right;
}

.X {
  position: absolute;
  top: 490px; 
  right: 0;
  margin-right: 285px;
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
  
  animation: slideInRight3 4s ease forwards;
}
.X:hover{
    transform: scale(1.5);
}
.discord-link {
  float:right;
}

.discord {
  position: absolute;
  top: 452px; 
  right: 0;
  margin-right: 230px;
  width: 35px;
  height: 35px;
  transition: transform 0.2s;
  
  animation: slideInRight4 5s ease forwards;
}
.discord:hover{
    transform: scale(1.5);
}

@keyframes slideInRight1 {
  0% {
      right: -100%;
  }
  100% {
      right: 0;
  }
}
@keyframes slideInRight2 {
  0% {
      right: -100%;
  }
  100% {
      right: 0;
  }
}
@keyframes slideInRight3 {
  0% {
      right: -100%;
  }
  100% {
      right: 0;
  }
}
@keyframes slideInRight4 {
  0% {
      right: -100%;
  }
  100% {
      right: 0;
  }
}


.music-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.music-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sound-wave {
  width: 10px;
  height: 20px;
  background-color: antiquewhite;
  animation: soundWave 2s infinite ease-in-out;
  opacity: 0.7;
  transform-origin: center;
  transition: transform 0.2s;
}
.sound-wave:hover{
    transform: scale(1.5);
}


@keyframes soundWave {
  0% {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(0.5);
  }
  100% {
      transform: scaleY(1);
  }
}
