body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3f362e;
    color: white;
    flex-direction: column;
}

.animation-container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(136, 118, 92);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(114, 90, 59);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animation-container {
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 50pt;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Make the button initially visible */
}

button:hover {
    background-color:  rgb(114, 90, 59);
}



  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, rgb(255, 231, 186), antiquewhite);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }